/* You can add global styles to this file, and also import other style files */
body {
  background: url(assets/images/bg.png) no-repeat right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  display: block;
}
